@import "../../../../stylesheets/master";

.review-intro-wrapper {
  height: 100%;

  .content {
    height: 100%;

    .review-intro-container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      text-align: start;
      overflow-y: auto;
      padding: 5px;
      padding-bottom: 10px;

      .main-area {
        .review-intro-item-list {
          list-style: none;
          padding: 20px 0;

          .review-intro-item {
            display: flex;
            margin-bottom: 8px;
            position: relative;

            span {
              margin-right: 16px;
              position: absolute;
              top: 5px;
              color: black;
              left: 10px;
              background-color: white;
              border-radius: 30px;
              padding-right: 7px;
              padding-left: 7px;
              padding-top: 1px;
              padding-bottom: 1px;
            }

            img {
              flex-grow: 1;
              height: 240px;
            }
          }
        }
      }

      .review-footer {
        font-size: 23px;
        color: $light-gray-color;
        margin-bottom: 30px;
      }

      .next-button {
        margin-bottom: 30px;
      }
    }
  }
}
