$color-white: #fff;
$color-light-gray: #f7f7f7;
$color-light-blue: #0fafef;
$red-color: #f45a00;
$orange-color: #f78c26;
$green-color: #89c742;
$medium-green-color: #0d755a;

$lighter-gray-color: #eee;
$light-gray-color: rgb(181, 181, 181);
$medium-gray-color: rgb(102, 102, 102);
$light-blue-color: rgba(24, 174, 238, 0.2);
$faded-gray-color: rgba(181, 181, 181, 0.2);

$color-box-shadow-first: rgba(0, 0, 0, 0.1);
$color-box-shadow-second: rgba(0, 0, 0, 0.09);
