.odometer-container {
    padding: 5px;
  }
  .odometer-input{
    margin: 20px 0px;
  }
  .odometer-picture-upload{
height: 150px;
  }
.odometer-skip {
  cursor: pointer;
  text-decoration: none;
  color: #41bcf2;
  font-weight: 500;

}
.skip-wrapper{
margin-top: 16px !important;
}