.veh-register-container {
    padding: 5px;
}
.register-input{
    margin: 20px 0px;
  }
  .register-picture-upload{
height: 150px;
  }
.register-skip {
    cursor: pointer;
    text-decoration: none;
    color: #41bcf2;
    font-weight: 500;
  }
