.license-container {
    padding: 5px;
}
.license-input{
    margin: 20px 0px;
  }
  .license-picture-upload{
height: 150px;
  }
.license-skip {
    cursor: pointer;
    text-decoration: none;
    color: #41bcf2;
    font-weight: 500;
  }
