@import "../../stylesheets/master";

.menuitem-wrapper {
  padding: 10px;
  border-bottom: 2px solid $faded-gray-color;
  //   width: 60%;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
